@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap')

$font_orbitron: 'Orbitron', sans-serif
$font_stick: 'Stick', sans-serif
$font_script: 'Dancing Script', cursive
$font_archdau: 'Architects Daughter', cursive
