@import url('https://fonts.googleapis.com/css2?family=Orbitron')

@import url('https://fonts.googleapis.com/css2?family=Stick')

@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap')

$font_orbitron: 'Orbitron', sans-serif
$font_prompt: 'Stick', sans-serif
$font_yantramanav: 'Yantramanav', sans-serif
